body {
    background-image: url(img/wallpaper1.jpg);
    background-size: cover;
}

.box {
    margin: 500px;
    padding: 30px;
    border-radius: 15px 15px 15px 15px;
    animation-name: animasi_box;
    animation-duration: 9s;
}

@keyframes animasi_box {
    0% {background-color: red; left: 0px; top: 0px;}
    25% {background-color: yellow; left: 100px; top: 0px;}
    50% {background-color: blue; left: 0px; top: 100px;}
    75% {background-color: green; left: 100px; top: 100px;}
    100% {background-color: aqua; left: 0px; top: 0px;}
}